<ActionBar>
  <GridLayout columns="50,*,50">
    <Label col="0" text="notifs" [nsRouterLink]="['/notifications']"></Label>
    <StackLayout col="1" orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
      <Image src="~/app/_assets/LOGO.png" class="action-image"></Image>
      <!-- <Image src="~/_assets/LOGO.png" class="action-image"></Image> -->
    </StackLayout>
    <Label col="2" text="msgs" [nsRouterLink]="['/messages']"></Label>
  </GridLayout>

</ActionBar>
