<ns-action-bar></ns-action-bar>

<StackLayout>

  <StackLayout class="whole-page">

    <TabView>

      <!-- <StackLayout *tabItem="{title: 'Find Events'}">

        <ns-browse-feed></ns-browse-feed>

      </StackLayout> -->


      <StackLayout *tabItem="{title: 'Browse'}">

        <ns-browse-feed></ns-browse-feed>

      </StackLayout>


      <StackLayout *tabItem="{title: 'Find Friends'}">

        <ns-friends></ns-friends>

      </StackLayout>

    </TabView>

  </StackLayout>

</StackLayout>
