<ns-action-bar></ns-action-bar>

<StackLayout>

  <StackLayout class="whole-page">

    <TabView>

      <!-- <StackLayout *tabItem="{title: 'Followed Communities'}">

        <ns-followed-communities></ns-followed-communities>

      </StackLayout> -->


      <StackLayout *tabItem="{title: 'All Communities'}">

        <ns-all-communities></ns-all-communities>

      </StackLayout>


      <StackLayout *tabItem="{title: 'My Communities'}">

        <ns-my-communities></ns-my-communities>

      </StackLayout>

    </TabView>

  </StackLayout>

</StackLayout>
